{
    "env": {
        "browser": true,
        "es2021": true,
        "jest": true
    },
    "extends": [
        "plugin:react/recommended",
        "standard",
        "prettier",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:import/typescript"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": ["react", "@typescript-eslint", "prettier", "import"],
    "rules": {
        "no-use-before-define": "off",
        "prettier/prettier": "error",
        "react/react-in-jsx-scope": "off",
        "react/prop-types": "off",
        "import/order": [
            "error",
            {
                "groups": ["builtin", "external", "internal"],
                "newlines-between": "always-and-inside-groups"
            }
        ]
    },
    "settings": {
        "import/resolver": {
            "typescript": {},
            "node": {
                "extensions": [".ts", ".tsx"]
            }
        }
    }
}
